<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYh5H6B0J3e5jWVUWRyheg_69JI5k4uG4</string>
	<key>GCM_SENDER_ID</key>
	<string>183435397986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoRestaurante.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>proyectovisuales-eb549</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectovisuales-eb549.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183435397986:ios:dc19f766838143f1077a3b</string>
</dict>
</plist>